@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&display=swap');

body {
    background-color: lemonchiffon;
}

div#page-body {
    font-family: 'Roboto Mono', monospace;
}

header#page-header {
    background-color: aquamarine;
}

header#page-header nav#page-nav {
    font-size: 14pt;
}

div#page-content {
    background-color: lemonchiffon;
    
    overflow-y: auto;
}

div#page-content div#sorteio div#sorteio-imagem {
    
}

div#page-content div#sorteio div#ultima-bola-sorteada {
    font-size: 60pt;
}

div#page-content div#bolas-sorteadas div h1 {
    font-size: 12pt;
    background-image: linear-gradient(to right, lemonchiffon, #555, lemonchiffon);
}

.bola {
    
}

.bola-letra {
    
}

.bola-numero {
    
}

.bola-b {
    
}

.bola-i {
    
}

.bola-n {
   
}

.bola-g {
    
}

.bola-o {
    
}

div#sorteio button {
    font-size: 14pt;
}

footer#page-footer p {
    font-size: 10pt;
}

